*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    width: 200px;
    height: 60px;
    padding: 20px;
}
.body{
    background-image: url(../img/it.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}