*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: url(../img/biel-morro-J_F_003jcEQ-unsplash.jpg);
    background-size: cover;
}
.conteiner{
  position: relative;
}
.cont-password{
    padding: 20px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    background-color: transparent;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    
}
input{
    width: 100%;
    border: 1px solid;
    height: 40px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: transparent;
    margin-bottom: 20px;
}
input::placeholder{
    
    color: #ffffff;
}

h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.requirements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 0.05rem;
  }
  .requirement {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 18px;
  }
  .requirement .fa-circle {
    color: rgb(88 82 82);
    font-size: 12px;
    margin-right: 10px;
  }
  .requirement .fa-check {
    color: green;
    margin-right: 10px;
  }
  .requirement:not(.valid) .fa-check {
    display: none;
  }
  .requirement.valid .fa-circle {
    display: none;
  }
  .exit-outline i{
    color: #ffffff;
    font-size: 80px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.exit-outline i:hover{
    color: #ff9900;
}