*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    width: 200px;
    height: 60px;
    padding: 20px;
}
.body{
    height: 100vh;
    background: #87ceeb;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.item-skills{
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    text-align: center;
    transition:background 0.5s ease;
    font-weight: 500;
    letter-spacing: 0.05rem;
    gap: 20px;
    margin-bottom: 20px;
}
.item-skills:first-child{
    background: #06142e;
    
}
.item-skills:nth-child(2){
    background: #1b3358;
}
.item-skills:nth-child(3){
    background: #473e66;
}
.item-skills:nth-child(4){
    background: #bd83b8;
}
.item-skills:nth-child(5){
    background: #e5cfd2;
}

.item-skills:nth-child(6){
    background: #f1916d;
}
.item-skills:nth-child(7){
    background: #dfb6b2;
}
.item-skills:nth-child(8){
    background: #854f6c;
}
.item-skills:nth-child(9){
    background: #522b5b;
}
.item-skills:nth-child(10){
    background: #2b124c;
}
.item-skills:hover{
    background: #e67e22}
.item-skills a{
    color: #fff;
}

