



/* =======Resuble CSS======= */




/* =========Sidebar========== */




.sidebar.close .text{
    opacity: 0;
}




.s

.sidebar .image-text ion-icon{
    width: 40px;
    border-radius: 6px;
    color: #000000;
}













body.dark li a:hover .icon,
body.dark li a:hover .text{
    color:var(--text-color)
}



.menu-bar .mode  .moon-sun .moon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}
.menu-bar .mode .moon-sun


.menu-bar .mode .sun{
    opacity: 0;
}









.mode .mode-text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
}
.exit-outline i{
    color: #4b06c1;
    font-size: 80px;
    position: absolute;
    top: 10%;
    left: 10%;
}